body {
  padding: 0;
  margin: 0;
  background: $odc-gray;
  color: $base-font-color;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}

.fr {
  float: right;
}
.fl {
  float: left;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 55px;
}

@mixin hover-highlight() {
  transition: all $transition-duration;
  display: inline-block;
  padding: 0.3em 0.4em 0.25em;
  border-radius: 1px;

  &:hover {
    color: #fff;
    background: rgba($odc-orange, 0.2);
  }
  &:after {
    display: none;
  }
  &.active {
    background: $odc-orange;
  }
}

@mixin hover-underline($height: 0.15em, $margin-top: -0.2em) {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    content: "";
    height: $height;
    margin-top: $margin-top;
    background: rgba($color: $odc-orange, $alpha: 0);
    transition: all $transition-duration;
  }
  &:hover:after {
    background: rgba($color: $odc-orange, $alpha: 1);
  }
}

a {
  color: #fff;
  text-decoration: none;
  @include hover-underline();

  &:visited,
  &:hover,
  &:visited:hover {
    color: #fff;
  }
}

input,
textarea {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0.3em 0.5em;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.2);
  border: solid 1px $table-border-color;
}

.wpcf7-form-control.wpcf7-submit {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rabg(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.5em 1em;
  background: $odc-orange;
}

.wpcf7-form-control {
  max-width: 100%;
}
