.main-header {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.1em;
  nav {
    max-width: 1760px;
    margin-left: auto;
    margin-right: auto;
  }
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  background: linear-gradient(
    rgba($color: #000000, $alpha: 0.2),
    rgba($color: #000000, $alpha: 0)
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all $transition-duration;

  nav {
    margin: 0 auto;
    transition: all $transition-duration;
  }
  .nav {
    a {
      @include hover-highlight();
      line-height: 1;
      padding-top: 0.35em;
    }
  }
  .logo {
    display: inline-block;

    &:hover:after {
      display: none;
      margin: 0;
    }
    img {
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.08));
      display: inline-block;
      vertical-align: middle;
      transition: all $transition-duration;
    }
    .logo-icon {
      height: $header-logo-height;
      margin-right: 28px;
    }
    .logo-text {
      margin-top: 1%;
    }
  }
}

header .nav {
  line-height: $header-logo-height;
  font-size: $base-font-size + 2px;

  li {
    display: inline-block;
    margin-left: 2em;
  }
  li a {
    display: inline-block;
    &,
    &:after {
      transition: background $transition-duration;
    }
  }
}

@mixin shrink-header() {
  $header-height: 55px;
  .main-header {
    background: rgba($odc-gray, 1);
    .nav {
      font-size: $base-font-size;
      line-height: $header-height;
    }
    .logo {
      height: $header-height;
      .logo-icon {
        height: $header-height;
        margin-right: 23px;
      }
      .logo-text {
        height: 23px;
      }
    }
  }
}

body[data-scrolled='1'] {
  @include shrink-header();
  .list-page {
    .main-header {
      background: darken($odc-gray, 4);
    }
  }
}

@media (max-width: $reflex-md) {
  .main-header {
    padding-left: 0;
    padding-right: 1em;
    .logo {
      .logo-icon {
        height: 60px;
        margin-right: 1em;
      }
    }
  }
  header .nav {
    line-height: 50px;
    margin-top: 5px;
    li {
      margin-left: 2.4em;
    }
  }
  body[data-scrolled='1'] {
    .post-page,
    .list-page {
      .main-header {
        overflow: hidden;
        .nav {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: $reflex-sm), (max-height: 380px) {
  header .nav {
    line-height: 50px;
    li {
      margin-left: 2em;
    }
  }
}

@media (max-width: $reflex-xs) {
  .main-header .logo {
    .logo-text {
      display: none;
    }
  }
  header .nav {
    font-size: $base-font-size;
    li {
      margin-left: 0.5em;
    }
  }
}
