.list-filter {
  margin: 2em 0;
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  .sep {
    opacity: 0.3;
    display: inline-block;
    padding: 0 0.5em;
  }
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    padding: 0 0.8em;
    list-style: none;
    position: relative;
    &:after, &:first-child:before {
      position: absolute;
      right: -1px;
      content: "";
      top: 0.4em;
      height: 0.7em;
      border-right: 2px solid rgba(#fff, 1);
      display: inline-block;
    }
    &:first-child:before {
      right: auto;
      left: -1px;
    }
  }
  a {
    @include hover-highlight();
  }
}

.chrono-list {
  h1 {
    margin: 2.5em 0 1.3em;
  }
}
