@import './wp-block-gallery.scss';
@import './wp-blocks.scss';
@import './wp-media-queries.scss';

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0,
    rgba(0, 0, 0, 0) 90%,
    transparent
  );
}

.hero-image {
  margin-top: -$header-logo-height;
  max-height: 80vh;
}

.entry-content > h1:first-child {
  margin-top: 1.5em;
  height: auto;
  line-height: 1.2;
}

.project-details table {
  float: right;
  margin-left: 2em;
  margin-bottom: 2em;
  margin-top: -0.4em;
  border: none;
  line-height: 1.6em;
  color: #aaa;
  font-size: 0.95em;
  th,
  td {
    border: none;
    padding: 0.2em 1em;
    font-weight: 400;
  }
  th {
    text-align: right;
    width: 11em;
    font-size: 0.9em;
    color: #888;
  }
  a {
    margin: 0 0.5em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .sep {
    color: rgba($color: #fff, $alpha: 0.4);
    font-weight: 100;
    &:last-child {
      display: none;
    }
  }
  @media (max-width: $reflex-xs) {
    & {
      float: none;
      margin-left: 0;
      margin-right: auto;
      th,
      td {
        padding: 0.1em 1em;
        padding-left: 0;
      }
      th {
        width: auto;
      }
    }
  }
}


.BMap_bubble_title {
  font-size: 14px;
  font-weight: 600;
}
.BMap_bubble_content {
  font-size: 12px;
  line-height: 1.5;
}
