// for gutenberg-web-typeface
@import './variables.scss';
@import '../../../node_modules/reflex-grid/scss/reflex.scss';

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='url'] {
  box-sizing: border-box;
}

p,
blockquote,
ul,
ol,
table {
  margin-top: 0.2em;
  margin-bottom: 1.15em;
  line-height: inherit;
}

p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5em;
  font-family: 'Segoe UI', Arial, '微软雅黑', sans-serif;
  font-size: $base-font-size;
}
@media (min-width: $reflex-lg) {
  body {
    font-size: $base-font-size + 2px;
  }
}

h1 {
  margin-top: 2em;
  height: auto;
  font-size: 1.8em;
}

ul,
ol {
  margin-left: 0;
  padding: 0;
}

h1 {
  font-size: 1.6em;
}
h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.4;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.85em;
}
figure {
  margin: 0;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
  span {
    display: inline-block;
  }
  .en {
    font-family: 'Helvetica Neue', Arial, Helvetica, '微软雅黑', sans-serif;
    font-weight: 100;
    display: block;
    margin-top: 0.2em;
    font-size: 0.85em;
    text-transform: uppercase;
    .project-page & {
      font-size: 0.85em;
      color: #aaa;
      text-shadow: none;
    }
  }
}

.inline-title {
  .en {
    display: inline-block;
    font-size: 1em;
    margin-top: 0;
    &:before {
      content: '/';
      display: inline-block;
      margin: 0 0.5em 0 0.25em;
      opacity: 0.3;
    }
  }
}
