$odc-orange: #FD780F;
$odc-gray: #3F3F3F;
$odc-black: #363636;

$base: 16;
$base-font-size: 110;
$base-font-size-desktop: 120;
$base-font-color: #eee;
$transition-duration: 0.3s;

$theme: OpenSans;
$custom-font-body: Merriweather, serif;
$custom-font-headings: "Open Sans", sans-serif;
$max-width: 1280px;
$reflex-xlg: 1280px;
$color-font-figcaption: #aaa;

$headings: (
  h1: (2.4, 2, 2.5, 1.5),
  h2: (1.6875, 1.5, 2, .5),
  h3: (1.375, 1, 2, .5),
  h4: (1.2, 1, 2, .5),
  h5: (1, 1, 2, .5),
  h6: (1, 1, 2, .5)
) !default;

$reflex-grid-spacing: 8px;
