$odc-orange: #EC6C12;
$odc-gray: #232323;
$odc-black: #111;

$base-font-size: 16px;
$base-font-color: #eee;
$transition-duration: 0.3s;
$text-max-width: 64rem;
$table-border-color: #505050;


$theme: OpenSans;
$custom-font-body: Merriweather, serif;
$custom-font-headings: "Open Sans", sans-serif;
$max-width: 1280px;
$reflex-xlg: 1280px;
$color-font-figcaption: #aaa;

$headings: (
  h1: (2.4, 2, 2.5, 1.5),
  h2: (1.6875, 1.5, 2, .5),
  h3: (1.375, 1, 2, .5),
  h4: (1.2, 1, 2, .5),
  h5: (1, 1, 2, .5),
  h6: (1, 1, 2, .5)
) !default;

$reflex-grid-spacing: 8px;


@mixin responsive-max-width() {
    @media (min-width: $reflex-xs) {
        max-width: $reflex-xs;
    }

    @media (min-width: $reflex-sm) {
        max-width: $reflex-sm;
    }

    @media (min-width: $reflex-md) {
        max-width: $reflex-md;
    }

    @media (min-width: $reflex-lg) {
        max-width: $reflex-lg;
    }

    @media (min-width: $reflex-xlg) {
        max-width: $reflex-xlg;
    }
}
