@import './styles/typeface.scss';
@import './styles/common.scss';
@import './styles/header.scss';
@import './styles/read.scss';
@import './styles/listpage.scss';
@import './styles/homegallery.scss';

main {
  padding-top: 110px;
  padding-bottom: 7em;
  min-height: 90vh;
  min-height: calc(100vh - 100px);

  .homepage & {
    padding-top: 0;
  }
}


@import './styles/footer.scss';
