@import './styles/typeface.scss';
@import './styles/common.scss';
@import './styles/header.scss';
@import './styles/read.scss';


main {
  padding-top: 110px;
  padding-bottom: 6em;
  min-height: 90vh;
  min-height: calc(100vh - 100px);

  .homepage & {
    padding: 0;
  }
}

footer {
  font-size: 0.7rem;
  padding: 1em;
  background: #333;
  color: #888;
  // background: $odc-orange;
  // color: #fff;
  text-align: right;
  p {
    margin: 0 0 0.8em;
    line-height: 1.5em;
  }
  .copyright {
    float: left;
    text-align: left;
  }
  .contact-info {
    display: inline-block;
  }
}

a.content {
  display: block;
  transition: all $transition-duration * 2;
  &:hover:after {
    display: none;
  }
}

.post-list .content {
  margin-bottom: 1.5em;
  padding: 2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba($color: $odc-orange, $alpha: 0.4);
  &:hover {
    background: rgba($color: $odc-orange, $alpha: 0.8);
  }
  border-radius: 2px;
  h3 {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
}
